.account_login{
  border-bottom: 1px solid #d9d6cf;
  border-left: 1px solid #d9d6cf;
  border-right: 1px solid #d9d6cf;
  display: flex;
  flex-direction: column;
  margin: 20px auto 50px;
  max-width: 450px;
}

.account_login .account_login_nav{
  align-items: center;
  background-color: #d9d6cf;
  border: 1px solid #d9d6cf;
  display: flex;
  height: 57px;
  justify-content: space-between;
  padding: 0 30px;
}

.account_login .account_login_nav .account_login_nav_current{
  font-weight: 700;
}

.account_login .account_login_nav a{
  color: #000;
  text-decoration: none;
}

.account_login .account_login_form {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
}

.account_login .account_login_form .account_login_form_label{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 22px;
}

.account_login .account_login_form .account_login_form_label .account_login_form_input{
  border: none;
  border-bottom: 1px solid #d9d6cf;
  display: flex;
  height: 32px;
  margin-top: 10px;
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 22px;
}

.account_login .account_login_form .form_btn {
  display: inline-block;
  align-self: center;
  justify-content: center;
}

.account_login .account_login_form .btn .btn_wrap{
  padding: 0 20px;

}
.account_login .account_login_form .btn .btn_wrap .btn_text{
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

}
