<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--브라우저 스타일 초기화-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <!--Google Fonts - 나눔고딕-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet" />
  <!--Google Material Icons-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="../public/stylesheets/common.css" />
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer type="text/javascrpt" src="../public/js/search.js"></script>
  <title>Ana luisa</title>
</head>
<body>
  
<!-- Header -->
<header id="header">
  <div class="menu">
    <ul class="left-menu">
      <li class="item">
        <div class="item__name">SHOP</div>
        <div class="item__contents">
          <div class="contents__menu">
            <ul class="inner">
              <li>
                <h4>Trending</h4>
                <ul>
                  <li>Best Seller</li>
                  <li>new Arrivals</li>
                  <li>Gits for Mom</li>
                  <li>Back in Stock</li>
                  <li>Last Chance</li>
                  <li>Hearts & Flower</li>
                  <li>Pearls & More</li>
                </ul>
              </li>    
              <li>
                <h4>Earrings</h4>
                <ul>
                  <li>Shop All Earrings</li>
                  <li>Hoop Earrings</li>
                  <li>Huggles & Ear Cuffs</li>
                  <li>Stude Earrings</li>
                  <li>Statement Earrings</li>
                  <li>Earring Backs</li>
                </ul>
              </li>
              <li>
                <h4>Necklaces</h4>
                <ul>
                  <li>Shop All Necklaces</li>
                  <li>Initial Necklaces</li>
                  <li>Engravable Necklaces</li>
                  <li>Zodiac Necklaces</li>
                  <li>Layeard Sets</li>
                  <li>Pendent Necklaces</li>
                  <li>Chain Necklaces</li>
                  <li>Extenders</li>
                </ul>
              </li>
              <li>
                <h4>Rings</h4>
                <ul>
                  <li>Shop All Rings</li>
                  <li>Shop Adjustable Rings</li>
                </ul>
              </li>
              <li>
                <h4>Bracelets</h4>
                <ul>
                  <li>Shop All Bracelets</li>
                <li>Engravable Bracelets</li>
                </ul>
              </li>
              <li>
                <h4></h4>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="item__name">GIFT GUIDE</div>
        <div class="item__contents">
          <div class="contents__menu">
            <ul class="inner">
              <li>
                <h4>Easy Gifting Options</h4>
                <ul>
                  <li>Most Popular Gifts</li>
                  <li>Gifts For Her</li>
                  <li>Gifts For Mom</li>
                  <li>Unisex Gifts</li>
                  <li>Hears & Flowers</li>
                  <li>Gift Sets</li>
                  <li>Personalized Gifts</li>
                  <li>Digital Gift Cards</li>
                </ul>
              </li>
              <li>
                <h4>Shop by Occasion</h4>
                <ul>
                  <li>Gifts For Mom</li>
                  <li>Wedding Gifts</li>
                  <li>Baby Shower Gifts</li>
                  <li>Romantic Gifts</li>
                </ul>
              </li>
              <li>
                <h4>Shop by Price</h4>
                <ul>
                  <li>Under &#92;300000</li>
                  <li>Under &#92;200000</li>
                  <li>Under &#92;100000</li>
                </ul>
              </li>
            </ul>>
          </div>>
        </div>
      <li class="item">
        <div class="item__name">ABOUT</div>
        <div class="item__contents">
          <div class="contents__menu">
            <ul class="inner">
              <li>
                <h4>About Us</h4>
                <ul>
                  <li>Our Journe</li>
                  <li>Our Jewelry</li>
                  <li>Our Perople</li>
                  <li>Our Planet</li>
                </ul>
              </li>
            </ul>>
          </div>
        </div>
      </li>
    </li>
    </ul>
    <!-- logo -->
    <div class="logo">Ana Luisa</div>
    <!-- right -->
    <ul class="right-menu">
      <li class="item">
        <div class="item__name">CLUBAL</div>
      </li>
      <li class="item">
        <div class="item__name">
          <a href="/account/login">SIGN IN</a>
        </div>
      </li>
      <li class="item">
        <div class="item__name">HELP</div>
      </li>
    </ul>
  </div>
</header>
